name: Deployment To Staging

on:
    push:
        branches: 
            - main

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            
            - name: install dep
              run: npm i

            - name: run test
              run: npm run test

    build-and-push:
        runs-on: ubuntu-latest
        needs: test
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: build docker image
              run: docker build -t talel12/backend-session16 .

            - name: docker login
              uses: docker/login-action@v3
              with:
                username: ${{ vars.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}
            
            - name: push image to dockerhub
              run: docker push talel12/backend-session16


    # Build & push
    # Deploy